.centered {
    text-align: center;
    height: 50%;
    width: 50%;
    position: fixed;
    top: 15%;
    left: 25%;
    background-color: aquamarine;
  }


  .detailButton {   
    background-color: #2ca0fd;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 1px 2px 3px #13598b;
    border-radius: 6px;
    }   